.carta{
	margin-top: 70px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row; 
}

.carta div {
  width: 310px;
  height: 418px;
  margin: 30px;
  margin-top: 40px;
  margin-right: 78px;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  letter-spacing: -1px; /* Espaciado de letras ajustado a la izquierda */
}

.botonN {
	width: 65px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(5, 5, 5);
	border-radius: 30px;
	color: rgb(20, 94, 155);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	left: 700px;
    margin-top: -10px;
	z-index: 4;
  }
  
 
  
  .botonN:hover {
	background-color:  rgb(49, 48, 48);
	transition-duration: .5s;
  }
  
  .botonN:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }
  
 



.botonP {
	width: 75px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color:  rgb(3, 3, 3);
	border-radius: 30px;
	color: rgb(20, 94, 155);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
	right: -150px;
	top: 47px;
    left: 500px;
	z-index: 4;
  }
  
 
  

  
  .botonP:hover {
	background-color:  rgb(46, 46, 46);
	transition-duration: .5s;
  }
  
  .botonP:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }



  .loader{
	font-size: 48px;
	color: #000000;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	position: relative;
  }
  .loader:after{
	content: 'Loading';
	position: relative;
	z-index: 5;
  }
  .loader:before{
	content: '';
	height: 6px;
	border: 1px solid;
	border-radius: 10px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
	background-size: 0% auto;
	animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}

  .botonHome {
	width: 65px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: rgb(5, 5, 5);
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
    top: -58px;
	left: 115px;
	z-index: 6;
	
  }
  
 
  
  .botonHome:hover {
	background-color:  rgb(49, 48, 48);
	transition-duration: .5s;
  }
  
  .botonHome:active {
	transform: scale(0.97);
	transition-duration: .2s;
  }